<?xml version="1.0" ?>
<robot name="fuselage">
  
  <link name="world"/>
  
  <joint name="fix_fuselage" type="fixed">
    <parent link="world"/>
    <child link="fuselage_link"/>
  </joint>
  
  <link
    name="fuselage_link">
    <inertial>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <mass
        value="12144" />
      <inertia
        ixx="37398"
        ixy="-0.0018658"
        ixz="0.0027121"
        iyy="49184"
        iyz="-0.00062593"
        izz="50148" />
    </inertial>
    <visual>
      <origin
        xyz="-0.2 3 -0.4"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="model://fuselage/meshes/fuselage.dae" scale="0.25 0.25 0.25"/>
      </geometry>
      <material
        name="Cyan">
        <color
          rgba="0.0 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="-0.2 3 -0.4"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="model://fuselage/meshes/fuselage.dae" />
      </geometry>
    </collision>
  </link>
  
  <gazebo reference="fuselage_link">
    <material>Gazebo/Green</material>
  </gazebo>
</robot>
