<?xml version="1.0" ?>
<robot name="stand">
  
  <link name="world"/>
  
  <joint name="fix_stand" type="fixed">
    <parent link="world"/>
    <child link="stand_link"/>
  </joint>
  
  <link
    name="stand_link">
    <inertial>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <mass
        value="12144" />
      <inertia
        ixx="37398"
        ixy="-0.0018658"
        ixz="0.0027121"
        iyy="49184"
        iyz="-0.00062593"
        izz="50148" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 -1.570796" />
      <geometry>
        <mesh
          filename="model://stand/meshes/binPickingStand_scaled.dae"/>
      </geometry>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 -1.570796" />
      <geometry>
        <mesh
          filename="model://stand/meshes/binPickingStand_scaled.dae" />
      </geometry>
    </collision>
  </link>
</robot>
