<?xml version="1.0"?>

<model>
  <name>binPickingStand_scaled</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Josh Chen</name>
    <email>joshchen@mathworks.com</email>
  </author>

  <description>
    A model of a bin picking stand.
  </description>

</model>
